<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Student Home Page</title>
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/studentHome.css">
</head>

<body>
    <nav>
        <a href="/">Attendance Marker</a>
        <a href="/student">Student</a>
        <a href="/student/signin">Sign In</a>
        <a href="/student/signup">Sign Up</a>
    </nav>

        <% if (locals.student) { %>
            <div >
                <h1> Welcome, <%= student.fullname %></h1>
                <a href="/student/scan" style="margin: 40px 0;">
                    <button class="scan-qr-btn" type="submit">Scan QR </button>
                </a>
                <h3>Your Previous Attendance History is :</h3>


                <% if (locals.allQrCodes) { %>
                    <%
                    function formatDate(date) {   //MonthAndDay
                    return new Date(date).toLocaleDateString('en-US', { month: 'short', day: '2-digit',timeZone: 'Asia/Kolkata' });} 
                    function formatTime(date) { //time
                    return new Date(date).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit',timeZone: 'Asia/Kolkata' });}
                    %>
                <table style="border-collapse: separate; border-spacing: 20px 0 ;margin-top: 30px;">
                    <tr>
                        <th> Day       </th>
                        <th> Teacher   </th>
                        <th> Subject   </th>
                        <th> Time      </th>
                        <th> Remark    </th>
                    </tr>
                    <% allQrCodes.forEach(qrCode => { %>
                        <% qrCode.markedByStudent.forEach(studentData => {  %>
                        <%  if(studentData.student.toString() == student._id.toString()) {  %>
                             <%   const date = qrCode.createdByTeacher[0]?.date;
                                const formattedDate=formatDate(date);
                                const formattedTime=formatTime(studentData.scanTime);
                                const min = formattedTime.toString().split(" ")[0].split(":")[1]; 
                                if(min >= 40 && min<60) imgSrc = '/images/angryEmoji.avif';
                                else if(min>=0 && min<=20) imgSrc= "/images/happyEmoji.jpg"
                                else imgSrc='/images/neutralEmoji.png'; %>
                        <tr>
                            <td> <%= formattedDate %></td>
                            <td> <%= qrCode.teacherName %></td>
                            <td> <%= qrCode.teacherSubject %></td>
                            <td> <%= formattedTime %></td>
                            <td><img src="<%= imgSrc %>" 
                                width="50px" height="50px" id="img"
                                alt="emoji">
                            </td>
                        </tr>
                    <% }%>



                        <% }) %>
                        <% }) %>
                    </table>
                    
                    
                <% } %>
            </div>
            <% } else { %>
                <h1 class="please-sign-in"> Please Sign In to View Your Attendance</h1>
                <a href="/student/signin" >
                    <button class="please-sign-in-btns">Sign In!</button>
                </a>
                <a href="/student/signup" >
                    <button class="please-sign-in-btns">Sign Up!</button>
                </a>
                <% } %>
</body>
<%- include('../common/script') %>

</html>